<h3><i class="fas fa-book-reader">StoryBooks</i></h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darker-1">
        <i class="fab fa-google left"></i>Log in with Google
    </a>
</div>
<div class="section">
    <a href="/auth/github" class="btn black darker-1">
        <i class="fab fa-github left"></i>Log in with Github
    </a>
</div>